* {
  box-sizing: border-box;
}
body {
  background-color: #f7f7f7;
  padding: 15px;
  font-family: "Alice", serif;
}
.page-wrapper {
  overflow: hidden;
  max-width: 380px;
  margin: auto;
  box-shadow: 0 0 30px 0 rgba(176, 127, 127, 0.25);
  background: #f2f2f2;
  border-radius: 20px;
}
.container {
  max-width: 300px;
  margin: auto;
}
.header {
  color: #fff;
  padding: 42px 50px 207px;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/header-bg.png) no-repeat center / cover;
  border-radius: 0 0 90px 90px;
  height: 256px;
}
.hello {
  font-size: 24px;
  font-weight: 400;
  line-height: auto;
}
.hello-text {
  font-size: 16px;
  font-weight: 300;
  line-height: auto;
}
.user {
  margin-top: -75px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow:
    0px,
    4px,
    30px rgba(0, 0, 0, 0.05);
  text-align: center;
  padding-bottom: 22px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.user-img {
  margin-top: -47px;
  border-radius: 50%;
  object-fit: cover;
  border: solid 2px #ffffff;
}
.user-name {
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 6px;
}
.user-descr {
  font-size: 12px;
  font-weight: 500;
  color: #cb5f5f;
  margin-top: 6px;
}
